<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703543024947-3ns8cgb8mrsmdm7qrq0kh8ejre9noat5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703543024947-3ns8cgb8mrsmdm7qrq0kh8ejre9noat5</string>
	<key>API_KEY</key>
	<string>AIzaSyDJkgtOFVS_aHiZaKVIGcXeNt35oWNL6vE</string>
	<key>GCM_SENDER_ID</key>
	<string>703543024947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>example.notifications.notifications</string>
	<key>PROJECT_ID</key>
	<string>flutter-local-notificati-3825e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-local-notificati-3825e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703543024947:ios:1bada632ac8ae5522e3246</string>
</dict>
</plist>